* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.todo-features {
	padding-top: 32px;
	margin: 32px 416px 692px 414px;
	h2 {
		margin-right: 23px;
		text-align: center;
		font-family: 'Raleway';
		font-size: 36px;
		font-weight: 700;
		line-height: 42px;
	}
}
